.container {
    font-size: x-large;
}

.container h2 {
    
    font-size: xx-large;
}

.container p {
    font-size: large;
}

.inline {
    display: inline-block;
    margin-left: 10px;
}

.switches {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -235px;
}

.switch {
    margin-bottom: 10px;
}

.s2 {
    width: 30px;
}