.technology-picker__container {
  font-size: x-large;
}

.technology-picker__container h2 {
  font-size: xx-large;
}

.technology-picker__container p {
  font-size: large;
}

.technology-picker__inline {
  display: inline-block;
  margin-left: 10px;
}
