.navbar {
  position: relative;
  box-sizing: border-box;
  flex: 0 220px;
  max-width: 64px;
  padding: 1rem 4px;
  height: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background: #646a6f;

  transition: all 0.3s;

  &--expanded {
    max-width: 220px;

    .navbar__button:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.navbar__button {
  border: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 6px;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 8px;

  &:focus {
    outline: none;
  }

  > .navbar__button__text {
    color: #c4c4c4;
    font-size: 1.5em;
    margin-left: 16px;
    white-space: nowrap;
  }
}

.navbar__button__icon {
  background: #c4c4c4;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  color: white;
  font-size: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    background: #53aaf3;
  }
}

.navbar__expand-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}
