.navbar {
  position: relative;
  box-sizing: border-box;
  flex: 0 220px;
  min-width: 68px;
  max-width: 68px;
  padding: 1rem 4px;
  overflow: hidden;
  border-right: 1px solid #dddddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background: #111111;

  transition: all 0.3s;

  &--expanded {
    min-width: 220px;
    max-width: 220px;

    .navbar__button:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.navbar__button {
  border: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 6px;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 8px;

  &:focus {
    outline: none;
  }

  > .navbar__button__text {
    color: #dddddd;
    font-size: 1.5em;
    margin-left: 16px;
    white-space: nowrap;
  }
}

.navbar__button__icon {
  position: relative;
  min-width: 48px;
  height: 48px;
  color: #dddddd;
  font-size: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    height: 100%;
    width: 48px;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
  }

  &--active {
    &::after {
      content: ' ';
      position: absolute;
      bottom: 2px;
      width: 32px;
      height: 1px;
      background: #dddddd;
    }
  }
}

.navbar__expand-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}
