

.background {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.container {
  animation-duration: 5s;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 35%;
}
.container img{
  height: 50%;
}
.text {
  padding: 2em;
}
.text p {
  color:#DDDDDD;
}
.icon{
  color:#111111;
  font-size: xx-large;

}

.language-box {
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 45.7%;
}

.language {
  background-color: transparent;
 
} 

.language p {
  color: #ddddddc9;
  font-weight: 100;
  font-size: large;
}

.language:focus p {
  color: #DDDDDD;
  font-weight: 800;
}
.button { 
background-color: #DDDDDD;
padding-right: 4em;
height: 2em;


}
.button p {
  color: #111111;
  text-transform: none;
  word-spacing: 4px;
  text-indent: 5em;
  font-size:large;

}

.button:hover {
  background-color:#ddddddc9;
 
}

// .button:focus {
//   outline: none;
//   box-shadow: none;
// }


.footer {
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  align-items: center;
  left: 25%;
}
.footer p {
  font-size: small;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
