html,
body {
  width: 100%;
  height: 100%;
  background-color: #89969f;
}

.container {
  animation-duration: 5s;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.button {
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  font-size: medium;
  border: none;
}
.button:hover {
  background-color: rgb(125, 209, 0);
  color: white;
}
// .button:focus {
//   outline: none;
//   box-shadow: none;
// }

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
