.projectList__container {
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.projectList__list__container {
  background-color: #53aaf3;
  width: 100%;
  border-radius: 8px;
}

.projectList__search_sort {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.projectList__select_filiter {
  width: 150px;
  justify-content: flex-end;
}

.projectList__input {
  border-radius: 10px;
  width: 372px;
  height: 33px;
  padding-left: 26px;
  border: none;
  outline: none;
}

.projectList__search_icon {
  position: absolute;
  left: 3px;
  margin-top: 7px;
}

.projectList__select {
  width: 140px;
  height: 25px;
  margin-left: auto;
}

.projectList__content {
  display: flex;
  flex-direction: column;
}

.projectList__list {
  padding-left: 0px;
  overflow: auto;
  max-height: 500px;
  position: relative;
  border: 2px solid white;
  border-radius: 8px;
}

.projectList__list_element {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
  margin-top: 10px;
}

.projectList__button {
  height: 84px;
  width: 100%;
  border-radius: 15px;
  align-content: end;
  border: 0px;
  margin-bottom: 22px;
  background-color: #b8c5d0;
  border: none;
  outline: none;
  position: relative;
}

.projectList__button:focus {
  background-color: #646a6f;
}

.projectList__icon {
  height: 84px;
  width: 84px;
  margin-right: 24px;
  border-radius: 15px;
}

.projectList__project-details {
  margin-left: 34px;
  margin-right: 34px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.projectList_title {
  width: fit-content;
  margin-left: 34px;
  margin-bottom: 7px;
}

.projectList__tags {
  margin-left: 5%;
}

.projectList__add_button {
  background-color: Transparent;
  border: none;
  outline: none;
  margin: 0 auto;
  border-radius: 50%;
}

.projectList_remove_button {
  border-width: 0;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: transparent;
  position: absolute;
  right: 1%;
  margin-top: -10px;
}
