.sentence-case {
  text-transform: none !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.bold {
  font-weight: bold !important;
}
.light {
  font-weight: lighter !important;
}
