.auth-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75em 0.625em;
  background: #ddd;
  border: none;
  cursor: pointer;
  height: 3.4em;
  min-width: 18em;

  &:disabled {
    background: #d1d1d1;
    cursor: default;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 0.625em;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: #111;
    flex: 1;
    text-align: center;
  }
}
