.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100%;
  box-sizing: border-box;

  > * {
    height: 100%;
    box-sizing: border-box;
  }
}

body {
  box-sizing: border-box;
}
