.wrapper {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-column-gap: 0.5rem;
  height: 100%;
  margin: 0.5rem;

  > * {
    height: calc(100% - 1rem);
    box-sizing: border-box;
  }
}

body {
  box-sizing: border-box;
}
