.wrapper {
  display: grid;
  grid-template-columns: auto minmax(40vw, 1fr) minmax(40vw, 1fr);
  grid-column-gap: 0.5rem;
  height: 100%;
  box-sizing: border-box;

  > * {
    height: 100%;
    box-sizing: border-box;
  }
}

body {
  box-sizing: border-box;
}
